* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}
.gradient {
  position: relative;
  z-index: 1;
}

.section {
  position: relative;
  z-index: 2;
  margin: auto;
  max-width: 100%;
  height: 100%;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 90px;
}
.section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  z-index: 1;
  pointer-events: none;
}

.container {
  position: relative;
  z-index: 2;
  width: 1260px;
  height: 665px;
  padding: 0 30px;
}

.navigation-panel {
  height: 44px;
}

.button-panel {
  height: 44px;
  display: flex;
  flex-wrap: wrap;
}

.refresh-button {
  width: 44px;
  height: 44px;
  background-color: rgba(174, 181, 185, 0.2);
  border-radius: 6px;
  background-image: url("./img/Refresh\ BG2.png");
  background-size: 35%;
  background-repeat: no-repeat;
  background-position: center;
}

.lang-box {
  width: 70px;
  height: 44px;
  margin-left: 10px;
  margin-right: 10px;
}

.lang-en {
  width: 71px;
  height: 44px;
  background-color: rgba(174, 181, 185, 0.2);
  color: white;
  font-weight: bold;
  border-radius: 6px;
  color: white;
}

.lang-ru {
  display: none;
  color: white;
  font-weight: bold;
}

.temperature-box {
  width: 88px;
  height: 44px;
  display: flex;
  border-radius: 6px;
}

.temperature-box button {
  background-color: rgba(76, 82, 85, 0.4);
  color: white;
}

.temperature-box button.active {
  background-color: rgba(174, 181, 185, 1);
}

.fahrenheit {
  width: 44px;
  height: 44px;
  background-color: rgba(76, 82, 85, 0.4);
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  border-right: none;
  color: white;
  font-weight: bold;
}

.celsius {
  width: 44px;
  height: 44px;
  background-color: rgba(174, 181, 185, 0.7);
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-left: none;
  color: white;
  font-weight: bold;
}

.search-panel {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 400px;
  height: 44px;
  margin-left: auto;
}

.search-input {
  width: 260px;
  height: 44px;
  padding: 0 10px;
  border-radius: 6px 0 0 6px;
  font-size: 16px;
  background-color: rgba(174, 181, 185, 0.2);
  color: white;
}

.search-input::placeholder {
  color: white;
}

.search-button {
  width: 90px;
  height: 44px;
  background-color: rgba(174, 181, 185, 0.4);
  border-radius: 0 6px 6px 0;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.search-button:focus {
  outline: none;
}

.content {
  max-width: 1260px;
  margin-top: 60px;
  display: flex;
  gap: 40px;
  /* justify-content: space-between; */
  flex-wrap: wrap;
}

.content-info {
  width: 580px;
  height: 560px;
}

.date-time {
  font-size: 24px;
  color: white;
  display: flex;
}

.place {
  color: white;
  font-size: 44px;
}

.time {
  margin-left: 20px;
}

.content-info_weather {
  display: flex;
  margin-top: 60px;
}

.content-info_weather__temperature {
  font-size: 70px;
  color: white;
}

.content-info_weather__characteristics {
  margin-left: 25px;
  color: white;
  font-size: 22px;
}

.weather__forecast {
  display: flex;
  gap: 50px;
  justify-content: center;
  margin-top: 80px;
}

.weather__forecast-day-wrap {
  display: flex;
  gap: 10px;
}

.weather__forecast-day-name {
  color: white;
  font-size: 22px;
}

.weather__forecast-temp {
  font-size: 40px;
  color: white;
}

.map-img {
  margin-top: 40px;
}

.map {
  width: 250px;
  height: 300px;
}

.latitude-langitude__wrap {
  color: white;
  text-align: end;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .button-panel {
    flex-direction: column;
  }

  .content {
    align-items: center;
    justify-content: center;
  }
}
